h1{
    font-weight: 300;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:black;
}
.projets{
display: grid;
justify-content: center;
align-items: center;
text-align: center;
grid-template-columns: repeat(3, 1fr);
grid-gap: 1rem;
 margin:0px 10px 10px 90px;   


}
/* Pour les écrans de taille moyenne (tablette)*/
@media (max-width: 768px) {
    .projets {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Pour les petits écrans  (téléphone)*/
@media (max-width: 480px) {
    .projets {
        grid-template-columns: 1fr;
        margin:0px 50px 0px
     
    }
}

