
body
{
	background: fffff;
	color: #999;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
   
} 


h2,h3,h4,h5
    {
        color: #ffffff;
        font-weight: bold;
    }

 #work
    {
        padding-top: 100px;
        padding-bottom: 120px;
    }

/* start work */
#work
    {
        background: #1a1a1a;
    }
#work h2
    {
        text-align: center;
    }

#work .media
    {
      margin-top: 30px;
    }
	
#work .media .fa
    {
        border: 2px solid #ffffff;
        border-radius: 50%;
        color: #de0e0e;
        font-size: 24px;
        margin-right: 24px;
        width: 60px;
        height: 60px;
        line-height: 55px;
        text-align: center;
        vertical-align: middle;
        transition: all 0.4s ease-in;
    }
#work .media .fa:hover
    {
        background: #ffffff;
        cursor: pointer;
    }
#work .media .media-heading
    {
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
    }
