.competences {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
  flex-wrap: wrap;
}
h1 {
  color: black;
}
@media screen and (max-width: 480px) {
  .competences {
    display: block;
  }
}
