@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

.acceuil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    max-height: 100%;
    background-image: url("../../assets/page-title.jpg");
    background-color: #464646;
    background-position: center;
   
  }
  .portfolio{
    color: white;
  }
  
  .profil {
    text-align: center;
  }
  .aboutMe{
    text-align: center;
    color:white;
    margin:0px 50px 10px 50px;
   text-shadow: 2px 2px 4px #f4efef;
   line-height:2em ;


  }
  .photo-profil {
    max-width: 250px;
    border-radius: 50% ;
    margin: 30px;
    transition: transform 0.5s;
    
   
   
    
  }
  
  .photo-profil:hover {
    transform: scale(1.1);
  }
  
  h2 {
    display: inline-block;
    opacity: 0; 
    transform: translateX(100px);
    transition: opacity 1s, transform 1s;
    font-style: italic;
    color: #f4efef;
   
    
  }

  h2 {
    animation: typingH2 5s linear infinite;
  }
  
  
  @keyframes typingH2 {
    0% {
      opacity: 0;
      transform: translateX(-100%);;
    }
    100% {
      opacity: 1;
      transform: translateX(100px);
    }
  }
  
 
  
  