.box {
background-image: url('https://media.istockphoto.com/id/1141639313/fr/photo/contactez-nous-femme-main-tenant-ic%C3%B4ne-concept-de-support-client-espace-de-copie.jpg?s=612x612&w=0&k=20&c=LUJSYmj-J1qBIzgX-S6QuYnRn1NslRFKoRNvOAz5u1g=');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;}