
.footer {
  background: #1a1a1a;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  .social-icons {
    margin-bottom: 20px;
  }
 
  .social-icons a {
    margin: 10px;
    color: #c11a1a;
    width:60px;
    height:60px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    font-size: 17px;
    padding: 5px;
    line-height: 55px;
    text-align: center;
    vertical-align: middle; 
    transition: all 0.4s ease-in;
   
  
  }
 .social-icons a:hover
    {
      background: #ffffff;
      cursor: pointer;
  }
 
  .phone-icone {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .link ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  .link ul li {
    margin-bottom: 10px;
  }
  
  .link ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Styles pour les écrans de petite taille  */
  @media screen and (max-width: 768px) {
    .footer {
      padding: 10px;
    }
  
    .social-icons {
      margin-bottom: 10px;
      
    }
  
    .social-icons a {
      width:50px;
      height:50px;
      border: 2px solid #ffffff;
      border-radius: 50%;
      font-size: 18px;
      padding: 5px;
      line-height: 55px;
      text-align: center;
      vertical-align: middle; 
      transition: all 0.4s ease-in;
     
    
    }
   .social-icons a:hover
      {
        background: #ffffff;
        cursor: pointer;
    }
    
  
    .phone-icone {
      margin-right: 0;
     
    }
  
    .link ul li {
      margin-bottom: 5px;
    }
  }
  
  /* Styles pour les écrans de très petite taille  */
  @media screen and (max-width: 480px) {

    .social-icons {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      margin-top: 20px; 
     
    }
  .phone-icone,
  .icone{
    font-size: 24px;
    
   
  }
  
     .social-icons a {
      margin: 5px;
    
    }
   
    .contact-info p {
      margin-top: 5px;
      
    }
   p{
    font-size:14px ;
    margin-left: 20px;
  }
    .link{
      margin-left: 50px;
      font-size:14px ;

    }
    .tel{
      margin-top: 10px;
      font-size: 14px;
      width:100px;
    }
  }
  